html,

body{
	background-color: #0f0f0f;
	
}

p {
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
}

h1 {
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	
}
a:link {
    color: #8F8E8D;
}
a:visited {
    color: #8F8E8D;
}
a:hover {
    color: #8F8E8D;
}
a:active {
    color: #8F8E8D;
}

#info {
	width:50%;
	margin: auto;
	padding-bottom:20px;
	padding-top:20px;

}

#info .content {
	padding-bottom:20px;
	padding-top:20px;

}

#info .text {
	width:70%;
	display:inline-block;
}

#info .icon {
	float:right;
	display:inline-block;
	font-size:50px;
	color: #ffffff
}

#info .lineone {
	
}

#info .linetwo {
	
}

#info .created {
	float:left;
	display:inline-block;
	font-size:25px;
}

#info .updated {
	float:right;
	display:inline-block;
	font-size:25px;
}
