body {
    height: 100%;
}

.banner {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	min-width: 200%; 
	min-height: 200%;
	background-color: black;
}

.inner {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
	background-size: cover;
	overflow: hidden;
}

video#bgvid { 
	height: 100%;
    width: 100%;
	background-image: url(images/logo.png) no-repeat;

}
