html,

body {
    height: 100%;
}


#banner {
	justify-content: center;
	min-height: 1%;
	max-height: 100%;
	background-color: #000000;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 0;
	position: relative;
	text-align: center;
	overflow: hidden;
	width: 100%;
}

.thumbnail {
	background: #1c1c1c;
	border: #1c1c1c;
    padding-top: 1em;
    padding-bottom: 1em;
}

video#bgvid { 
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    background-image: url(images/still.png) no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(images/still.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}