html,

body {
    height: 100%;
	background-color:#0f0f0f;
}


/*Region for banner*/
#banner {
	justify-content: center;
	padding: 0em 4em 0em 4em;
	min-height: 100%;
	max-height: 100%;
	background-image: url("../images/banner.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 0;
	position: relative;
	text-align: center;
	overflow: hidden;
}
#banner .inner {
	text-align: center;
	position: relative;
	z-index: 2;
	
}
#banner p {
	font-size: 1.5em;
	font-weight: 300;
}


#banner-color .text {
	width: 50%;
	text-align:center;
}

#banner-color h1{
	color: #fff;
	
}

#about {
	color:#fff;
}

#about h1 {
	color:#8F8E8D;
}

#fontawico {
	color:#8F8E8D;
	font-size:3em;
}


.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #222222;
}

.software-container { 
    width:100%; height:500px; 
    overflow:hidden; 
    position:relative; 
}
.prevent-scroll { 
    width:100%; height:100%; 
    position:absolute; top:0; left:0; 
}
#software-display {
    height: 100%;
    width: 320px;
    position:relative;
}
